* {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
	font-size: 16px;
}

h1 {
	text-align: center;
	margin: .5rem 0;
}

#miCanvas {
	border: 1px solid black;
	display: block;
	margin: 0 auto;
}